* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
 }


.container {
	width: 100%;
	height: 100vh;
} 

#terminal {
	width: 0%;
	opacity: 0;
	height: 100vh;
	--size: 1.5;
	margin: 0 auto;
	animation: open 1s ease forwards;
	visibility: hidden;
}

@keyframes open {
	0% {
		width: 0;
		height: 100vh;
		opacity: 0.5;
	}

	25% {
		visibility: visible;
	}

	50% {
		height: 100vh;
		width: 100%;
		opacity: 1;
	}

	100% {
		opacity: 1;
		height: 100vh;
		width: 100%;
		visibility: visible;
	}
}

@keyframes close {
	50% {
		width: 50%;
	}

	100% {
		width: 0%;
	}
}

#app {
	font-size: 1.5rem;
	margin-bottom: 1.5rem;
	padding: 1em;



#flicker {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: black;
	opacity: 0;
	z-index: 1000;
	pointer-events: none;
	animation: flicker 0.12s infinite;
}


@keyframes flicker {
  0% {
    opacity: 0.552;
  }
  5% {
    opacity: 0.48287;
  }
  10% {
    opacity: 0.59134;
  }
  15.0% {
    opacity: 0.79543;
  }
  20% {
    opacity: 0.75134;
  }
  25% {
    opacity: 0.1956;
  }
  30.0% {
    opacity: 0.90687;
  }
  35% {
    opacity: 0.122;
  }
  40% {
    opacity: 0.62254;
  }
  45% {
    opacity: 0.56977;
  }
  50% {
    opacity: 0.9925;
  }
  55.0% {
    opacity: 0.55487;
  }
  60.0% {
    opacity: 0.16607;
  }
  65% {
    opacity: 0.12353;
  }
  70% {
    opacity: 0.2214;
  }
  75% {
    opacity: 0.67908;
  }
  80% {
    opacity: 0.97163;
  }
  85.0% {
    opacity: 0.1275;
  }
  90% {
    opacity: 0.37186;
  }
  95% {
    opacity: 0.24475;
  }
  100% {
    opacity: 0.37221;
  }
}
